<main class="container">
  <header>
    <span>
      <h1>{{details.name}}</h1>
      <p>Product Details</p>
    </span>
    <nav class="actions">
      <a [routerLink]="['/warehouse']">
        <i class="material-icons tile-icon">arrow_back</i>
      </a>
      <a>
        <i class="material-icons tile-icon" (click)="toggleUpdate()">{{toggleIcon}}</i>
      </a>
    </nav>
  </header>
  <hr>
  <wh-list *ngIf="!toUpdate; else updateForm">
    <li>
      <h4>Serial</h4>
      <p>{{details.serial}}</p>
    </li>
    <li>
      <h4>Producer</h4>
      <p>{{details.producer}}</p>
    </li>
    <li>
      <h4>Type</h4>
      <p>{{details.type}}</p>
    </li>
    <li>
      <h4>Conditions</h4>
      <p>{{details.conditions}}</p>
    </li>
    <li>
      <h4>Note</h4>
      <p>{{details.note}}</p>
    </li>
  </wh-list>
  <ng-template #updateForm>
    <wh-wh-form [data]="details" (save)="update($event)"></wh-wh-form>
  </ng-template>
</main>