<main class="container">
  <header>
    <span>
      <h1>{{details.name}}</h1>
      <p>Product Details</p>
    </span>
    <nav class="actions">
      <a [routerLink]="['/warehouse']">
        <i class="material-icons tile-icon">arrow_back</i>
      </a>
      <a>
        <i class="material-icons tile-icon" (click)="toggleUpdate()">{{toggleIcon}}</i>
      </a>
    </nav>
  </header>
  <hr>
  <wh-list *ngIf="!toUpdate; else updateForm">
    <li>
      <h4>Date of arrival</h4>
      <p>{{details.checkInDate | date: 'short'}}</p>
    </li>
    <li>
      <h4>User</h4>
      <p>{{details.user}}</p>
    </li>
    <li>
      <h4>Sender</h4>
      <p>{{details.sender}}</p>
    </li>
    <li>
      <h4>Consignee</h4>
      <p>{{details.consignee}}</p>
    </li>
    <li>
      <h4>Serial</h4>
      <p>{{details.serial}}</p>
    </li>
    <li>
      <h4>Producer</h4>
      <p>{{details.producer}}</p>
    </li>
    <li>
      <h4>Type</h4>
      <p>{{details.type}}</p>
    </li>
    <li>
      <h4>Conditions</h4>
      <p>{{details.conditions}}</p>
    </li>
    <li>
      <h4>Description</h4>
      <p>{{details.description}}</p>
    </li>
  </wh-list>
  <section class="mt-56">
    <header>
      <span>
        <h2>Product Movements</h2>
        <p>All {{details.name}} movements</p>
      </span>
    </header>
    <hr>
    <wh-list *ngIf="movLength; else noMovs">
      <li class="movList" *ngFor="let mov of movements">
        <nav>
          <span>
            <p>{{mov.product}}</p>
          </span>
          <span>
            <i class="material-icons tile-icon" *ngIf="mov.inOut; else in">arrow_back</i>
            <ng-template #in>
              <i class="material-icons tile-icon">arrow_forward</i>
            </ng-template>
          </span>
          <span><a [routerLink]="['/assignee/details', mov.assigneeId]">{{mov.assignee}}</a></span>
        </nav>
        <footer>
          <time>{{mov.createdAt | date: 'short'}}</time>
        </footer>
      </li>
    </wh-list>
    <ng-template #noMovs>
      <h4 class="mt-24">No movements</h4>
    </ng-template>
    <wh-paginator *ngIf="movLength > 5" [length]="movLength" [size]="5" (data)="loadMovements($event.pageIndex * 5)">
    </wh-paginator>
  </section>
  <ng-template #updateForm>
    <wh-wh-form [data]="details" (save)="update($event)"></wh-wh-form>
  </ng-template>
</main>