@import './../../../leaves/variables';
@import './../../../leaves/forms';
:host {
    form {
        position: relative
    }
    label {
        position: absolute;
        bottom: 8px
    }
    input {
        box-sizing: border-box;
        padding-left: 30px
    }
}