.btn-default {
    font-family: inherit;
    font-weight: $medium;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button,
.btn {
    @extend .btn-default;
    transition: all .3s ease;
    border: 2px solid $gray;
    background: transparent;
    will-change: border-color, color;
    border-radius: 2px;
    color: $gray;
    margin: 0;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 1em;
    &:hover {
        border-color: $color;
        color: $color
    }
    &[disabled] {
        background-color: rgba(0, 0, 0, .12);
        color: rgba(0, 0, 0, .26);
    }
}