//user agent overrides
body,
figure {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

// body background-color
body {
    background-color: $bodyGray;
}

// layout min-height fix
main {
    min-height: calc(100vh - 232px);
}

// images
img.res {
    max-width: 100%
}

// ui elements
.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    a,
    button {
        &:hover {
            animation: emphasis .4s both ease-out
        }
    }
    a:not(:last-child),
    button:not(:last-child) {
        margin-right: 8px
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
}