<main class="container">
  <header>
    <span>
      <h1>Assignees</h1>
      <p>list of all Assignees</p>
    </span>
    <nav class="actions">
      <a [routerLink]="['/assignee/create']">
        <i class="material-icons tile-icon">add</i>
      </a>
    </nav>
  </header>
  <wh-search-bar (sendQuery)="loadSearch($event)"></wh-search-bar>
  <wh-list>
    <li *ngFor="let assignee of assignees | async">
      <header>
        <h3>{{assignee.name}} {{assignee.surname}}</h3>
        <p>{{assignee.email}}</p>
      </header>
      <span class="actions">
        <a [routerLink]="['/assignee/details', assignee._id]" class="btn mr-8">details</a>
        <a [routerLink]="['/assignee/assign', assignee._id]" class="btn mr-8">assign</a>
      </span>
    </li>
  </wh-list>
  <wh-paginator *ngIf="asLength" [length]="asLength" [size]="10" (data)="loadAssignees($event.pageIndex)"></wh-paginator>
</main>