<main class="container">
  <header>
    <span>
      <h1>Products</h1>
      <p>list of all products</p>
    </span>
    <nav class="actions">
      <a (click)="filterProd()" [ngClass]="{'active' : prodIn}">
        <i class="material-icons tile-icon">store</i>
      </a>
      <a [routerLink]="['/warehouse/create']">
        <i class="material-icons tile-icon">add</i>
      </a>
    </nav>
  </header>
  <wh-search-bar (sendQuery)="loadSearch($event)"></wh-search-bar>
  <wh-list>
    <li *ngFor="let prod of products | async">
      <span class="withIcon">
        <span>
          <i class="material-icons mr-24" *ngIf="prod.assigneeId == ''; else assigned">store</i>
          <ng-template #assigned>
            <i class="material-icons mr-24">check</i>
          </ng-template>
        </span>
        <header>
          <h3>{{prod.name}}</h3>
          <p>Serial:&ensp;{{prod.serial}}</p>
        </header>
      </span>
      <footer class="actions">
        <button (click)="openDialog(prod)">delete</button>
        <a [routerLink]="['/warehouse/details', prod._id]" class="btn">details</a>
      </footer>
    </li>
  </wh-list>
  <wh-paginator *ngIf="prodLength > 10" [length]="prodLength" [size]="10" (data)="loadProducts($event.pageIndex)"></wh-paginator>
</main>
<wh-dialog *ngIf="dialog">
  <span>
    <h3>Delete {{dialogPayload.name}}?</h3>
    <p>{{dialogPayload.serial}}</p>
  </span>
  <span class="actions">
    <button (click)="dialog = false">cancel</button>
    <button (click)="delete()">delete</button>
  </span>
</wh-dialog>