<main class="container">
  <header>
    <span>
      <h1>Products</h1>
      <p>list of all products in warehouse</p>
    </span>
    <nav class="actions">
      <a [routerLink]="['/warehouse/create']">
        <i class="material-icons tile-icon">add</i>
      </a>
    </nav>
  </header>
  <wh-search-bar (sendQuery)="loadSearch($event)"></wh-search-bar>
  <wh-list>
    <li *ngFor="let prod of products | async">
      <span>
        <h3>{{prod.name}}</h3>
        <p>Serial:&ensp;{{prod.serial}}</p>
      </span>
      <span class="actions">
        <a [routerLink]="['/warehouse/details', prod.id]" class="btn">details</a>
        <button (click)="delete(prod.id)">delete</button>
      </span>
    </li>
  </wh-list>
  <wh-paginator [length]="prodLength" [size]="10" (data)="LoadProducts($event.pageIndex)"></wh-paginator>
</main>