<main class="container">
  <header>
    <span>
      <h1>Incoming</h1>
      <p>list of all incoming products</p>
    </span>
    <nav class="actions">
      <!-- <a (click)="filterProd()" [ngClass]="{'active' : prodIn}">
        <i class="material-icons tile-icon">store</i>
      </a> -->
      <a [routerLink]="['/incoming/create']">
        <i class="material-icons tile-icon">add</i>
      </a>
    </nav>
  </header>
  <hr>
  <wh-list>
    <li *ngFor="let prod of incoming | async">
      <span class="withIcon">
        <span>
          <i class="material-icons mr-24" *ngIf="prod.cheked; else assigned">store</i>
          <ng-template #assigned>
            <i class="material-icons mr-24">check</i>
          </ng-template>
        </span>
        <header>
          <h3>{{prod.checkInDate | date: 'short'}}</h3>
          <p>Serial:&ensp;{{prod.serial}}</p>
        </header>
      </span>
      <span class="actions">
        <button (click)="openDialog(prod)">delete</button>
        <a [routerLink]="['/incoming/details', prod._id]" class="btn">details</a>
        <button (click)="openDialog(prod)">chek-in</button>
      </span>
    </li>
  </wh-list>
  <wh-paginator *ngIf="incomingLength" [length]="incomingLength" [size]="10" (data)="loadIncoming($event.pageIndex)"></wh-paginator>
</main>
<wh-dialog *ngIf="dialog">
  <span>
    <h3>Delete {{dialogPayload.name}}?</h3>
    <p>{{dialogPayload.serial}}</p>
  </span>
  <span class="actions">
    <button (click)="dialog = false">cancel</button>
    <button (click)="delete()">delete</button>
  </span>
</wh-dialog>