<main class="container">
  <header>
    <span>
      <h1>Incoming</h1>
      <p>list of all incoming products</p>
    </span>
    <nav class="actions">
      <a [routerLink]="['/incoming/create']">
        <i class="material-icons tile-icon">add</i>
      </a>
    </nav>
  </header>
  <wh-search-bar (sendQuery)="loadSearch($event)"></wh-search-bar>
  <wh-list>
    <li *ngFor="let prod of incoming | async">
      <header>
        <h3>{{prod.description}}</h3>
        <p>{{prod.checkInDate | date: 'short'}}</p>
      </header>
      <footer class="actions">
        <button (click)="openDialog(prod)">delete</button>
        <a [routerLink]="['/incoming/details', prod._id]" class="btn">details</a>
        <a *ngIf="!prod.checked" [routerLink]="['/warehouse/checkin', prod._id]" class="btn">checkin</a>
      </footer>
    </li>
  </wh-list>
  <wh-paginator *ngIf="incomingLength" [length]="incomingLength" [size]="10" (data)="loadIncoming($event.pageIndex)">
  </wh-paginator>
</main>
<wh-dialog *ngIf="dialog">
  <span>
    <h3>Delete {{dialogPayload.name}}?</h3>
    <p>{{dialogPayload.serial}}</p>
  </span>
  <span class="actions">
    <button (click)="dialog = false">cancel</button>
    <button (click)="delete()">delete</button>
  </span>
</wh-dialog>