<main class="container">
  <header>
    <h1>Welcome</h1>
  </header>
  <hr>
  <nav class="row">
    <div class="col s6 m4">
      <a routerLink="/warehouse" class="tile">
        <i class="material-icons tile-icon">store</i>
        <h5>Warehouse</h5>
      </a>
    </div>
    <div class="col s6 m4">
      <a class="tile">
        <i class="material-icons tile-icon">dashboard</i>
        <h5>Dashboard</h5>
      </a>
    </div>
    <div class="col s6 m4">
      <a class="tile">
        <i class="material-icons tile-icon">apps</i>
        <h5>Codes</h5>
      </a>
    </div>
  </nav>
</main>