@import '../../../../leaves/variables';
@import '../../../../leaves/dropdown';
:host {
    input {
        cursor: pointer;
    }
    .menu {
        position: relative;
        &>span {
            position: absolute;
            right: 8px;
            bottom: 8px;
            cursor: pointer;
        }
        .dropdown {
            width: 100%;
            li {
                font-weight: 600;
            }
        }
    }
}