<main class="container">
  <section>
    <header>
      <span>
        <h1>{{details.name}} {{details.surname}}</h1>
        <p>Assingee Details</p>
      </span>
      <nav class="actions">
        <a [routerLink]="['/assignee']">
          <i class="material-icons tile-icon">arrow_back</i>
        </a>
      </nav>
    </header>
    <hr>
    <wh-list>
      <li>
        <h4>Email</h4>
        <p>{{details.email}}</p>
      </li>
      <li>
        <h4>Phone</h4>
        <p>{{details.phone}}</p>
      </li>
      <li *ngIf="details.note">
        <h4>Note</h4>
        <p>{{details.note}}</p>
      </li>
    </wh-list>
  </section>
  <section class="mt-56">
    <header>
      <span>
        <h2>Product to assign</h2>
        <p>select a product to assign</p>
      </span>
    </header>
    <wh-search-bar (sendQuery)="loadSearch($event)"></wh-search-bar>
    <wh-list>
      <li *ngFor="let prod of products | async">
        <header>
          <h3>{{prod.name}}</h3>
          <p>Serial:&ensp;{{prod.serial}}</p>
        </header>
        <footer class="actions">
          <a [routerLink]="['/warehouse/details', prod._id]" class="btn mr-8">details</a>
          <button (click)="openDialog(prod)">assign</button>
        </footer>
      </li>
    </wh-list>
    <wh-paginator *ngIf="prodLength > 10" [length]="prodLength" [size]="10" (data)="loadProducts($event.pageIndex)">
    </wh-paginator>
  </section>
</main>
<wh-dialog *ngIf="dialog">
  <span>
    <h3>Product assignment</h3>
    <p>{{dialogPayload.name}}</p>
    <p>{{dialogPayload.serial}}</p>
  </span>
  <span class="actions">
    <button (click)="dialog = false">cancel</button>
    <button (click)="assign()">assign</button>
  </span>
</wh-dialog>