<main class="container">
  <section>
    <header>
      <span>
        <h1>{{details.name}} {{details.surname}}</h1>
        <p>Assingee Details</p>
      </span>
      <nav class="actions">
        <a [routerLink]="['/assignee']">
          <i class="material-icons tile-icon">arrow_back</i>
        </a>
        <a>
          <i class="material-icons tile-icon" (click)="openDeleteDialog()">delete</i>
        </a>
        <a>
          <i class="material-icons tile-icon" (click)="toggleUpdate()">{{toggleIcon}}</i>
        </a>
      </nav>
    </header>
    <hr>
    <wh-list *ngIf="!toUpdate; else updateForm">
      <li>
        <h4>Email</h4>
        <p>{{details.email}}</p>
      </li>
      <li>
        <h4>Phone</h4>
        <p>{{details.phone}}</p>
      </li>
      <li *ngIf="details.note">
        <h4>Note</h4>
        <p>{{details.note}}</p>
      </li>
    </wh-list>
    <ng-template #updateForm>
      <wh-as-form [data]="details" (save)="update($event)"></wh-as-form>
    </ng-template>
  </section>
  <section class="mt-56">
    <header>
      <span>
        <h2>Products assigned</h2>
        <p>All product assigned to {{details.name}} {{details.surname}}</p>
      </span>
      <nav class="actions">
        <a [routerLink]="['/assignee/assign', details._id]">
          <i class="material-icons tile-icon">add</i>
        </a>
      </nav>
    </header>
    <hr>
    <wh-list *ngIf="products?.length > 0; else noProds">
      <li *ngFor="let prod of products">
        <header>
          <h3>{{prod.name}}</h3>
          <p>Serial:&ensp;{{prod.serial}}</p>
        </header>
        <footer class="actions">
          <a [routerLink]="['/warehouse/details', prod._id]" class="btn">details</a>
          <button (click)="openDialog(prod)">unassign</button>
        </footer>
      </li>
    </wh-list>
    <ng-template #noProds>
      <h4 class="mt-24">No products assigned</h4>
    </ng-template>
  </section>
</main>
<wh-dialog *ngIf="dialog">
  <span>
    <h3>Product unassignment</h3>
    <p>{{dialogPayload.name}}</p>
    <p>{{dialogPayload.serial}}</p>
  </span>
  <span class="actions">
    <button (click)="dialog = false">cancel</button>
    <button (click)="unassign()">unassign</button>
  </span>
</wh-dialog>
<wh-dialog *ngIf="deleteDialog">
  <span>
    <h3>Delete assignee</h3>
    <p>{{dialogPayload.name}} {{dialogPayload.surname}}</p>
  </span>
  <span class="actions">
    <button (click)="deleteDialog = false">cancel</button>
    <button (click)="delete()">delete</button>
  </span>
</wh-dialog>